<h1>Hello there</h1>
<p>Welcome to what my visual resume, a bit of a demonstration of my knowledge and skills</p>
<h2>About this site</h2>

<ul>
  <li>
    <h3>Stack</h3>
    <ul>
      <li>Front end: Angular 13, using TypeScript to build a single page application, complete with routing.</li>
      <li>Back end: C# 10 used to read and process data.</li>
      <li>"Database": Currently, a simple JSON file while I study NoSQL databases.</li>
    </ul>
  </li>
  <li>
    <h3>Tools</h3>
    <ul>
      <li>Most development work was performed using Visual Studio 2022 Community Edition.</li>
      <li>Visual Studio Code used for quick edits, so I could more quickly open/edit files.</li>
    </ul>
  </li>
</ul>

<p>References are available upon request, but I will not be including them in here for privacy</p>
